body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/66/World_Map_Grayscale.png");
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    color:RED;
    
  }
  
  h1, h2, h3, h4, {
    font-family: 'Source Code Pro', monospace;
  }
  
  #mainGameSpace {
    padding: 50px;
  }
  
  .fa {
   color: #fff;
  }
  
  a,
  a:active,
  a:link,
  a:visited {
    text-decoration: none;
  }
  
  
  #gameMessage {
    padding: 50px;
  
  